.Botonera {
background: #f3f3f6;
}

.button {
	background:#7f8c8d;
	color:#fff;
	display:inline-block;
	font-size:1.25em;
	margin:20px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
    /* box-shadow:0px 3px 0px #373c3c; */
    border-width: 0px;
}
.button.blue {
	background:#3498db;
	box-shadow:0px 3px 0px #266792;
}
.button:hover {
    background: #065c96;
}

.buttonDrop{
	margin: auto 0;
	
}