.NavLayout{
    background: #171c30; 
    max-height: 100%;
}
.NavLayout  button{
        height: inherit;
        border: none;
        background: transparent;
        outline: 0;
        width: inherit;
        box-sizing: none;
        font-size: 25px;
        cursor: pointer;
        padding: 0;
}
.Menu{
    display: flex;
}
.ButtonMenu{
    margin-left: 5px;
}

.TitleMenu{
    margin: 3px auto 0 auto;
}
.TitleMenu h6{
    color: #f2f2f2f2;
    font-size: 19px;
}